#root {
  font-family: sans-serif;
}

.App {
  align-items: center;
  color: #dad;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-spacing: 0px;
}

.App .label {
  padding: 20px;
}

.App tr.spacer {
  height: 50px;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.fullScreen {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.topLevelContainer {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}